
.ourWork {
  color: #212529;
  font-stretch: normal;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 1.32;
  font-size: 50px;
  margin-top: 90px;
}
.subtitle {
  color: #212529;
  font-size: 20px;
  letter-spacing: -1.5px;
  line-height: 1.6;
  margin-top: 40px;
}


.figmaLogoIcon1472891,
.lbjNotion01Icon {
  position: absolute;
  top: 540px;
  left: 200px;
  width: 308.99px;
  height: 308px;
  object-fit: cover;
  cursor: pointer;
}
.figmaLogoIcon1472891 {
  left: 1200px;
  width: 308px;
}

.icon {
  position: absolute;
  top: 540px;
  left:700px;
  width: 308px;
  height: 308px;
  object-fit: cover;
  cursor: pointer;
}

